# Ignore the virtual environment directory
venv/

# Ignore Visual Studio Code settings
.vscode/

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore environment variable files
.env

# Ignore any other temporary files you might want to exclude
*.log
*.sqlite3
node_modules
